<head xmlns:th="http://www.thymeleaf.org" th:fragment="head_fragment(links, scripts)">

  <meta charset="UTF-8">

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <title>probook</title>

  <!-- Bootstrapに必要 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- Bootstrap本体 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- jqueryUi -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <!-- fontawesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

  <!-- combobox -->
  <link rel="stylesheet" th:href="@{/combobox/jquery.ajax-combobox.css}">

  <!-- 各画面専用のcssを定義 -->
  <th:block th:replace="${links}" />

  <script th:src="@{/combobox/jquery.ajax-combobox.min.js}"></script>

  <!-- slick -->
  <link th:href="@{/slick/slick-theme.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/slick/slick.css}" rel="stylesheet" type="text/css">
  <script type="text/javascript" th:src="@{/slick/slick.js}"></script>

  <!-- js設定ファイル -->
  <script th:src="@{/js/header.js}"></script>
  <!-- 各画面専用のjavascriptを定義します -->
  <th:block th:replace="${scripts}" />

</head>