@charset "utf-8";

.wrap{
  width: 100%;
}

.content{
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.content h1{
  margin: 96px 0;
  font-size: 1.25rem;
}



.a{
  width: 400px;
  margin: 48px 0;
}

.regi,.logi{
  margin-bottom: 13px;
  width: 200px;
  height: 43px;
  border-radius: 20px;
  color: black;
}
  a.btn.logi{
    background-color: #fddc00;
    border-color: #fddc00;
    transition: all 0.2s ease 0s;
  }
    a.btn.logi:hover{
      color: black;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
      transform: translateY(-0.1875em);;
    }
  a.btn.regi{
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    transition: all 0.2s ease 0s;
  }
    a.btn.regi:hover{
      color: black;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
      transform: translateY(-0.1875em);
    }

