@charset "utf-8";

.wrap{
  width: 100%;
  background-color: powderblue;
}

.content{
  width: 1000px;
  margin: 0 auto;
/*  padding: 24px 48px;*/
  background-color: white;
}


/*========================================*/

div.content p.heading3{
  padding: 5px 10px;
  margin-bottom: 96px;
  font-size: 13px;
  border-left: 10px solid #3e8acc;
}

/*
div.content label{
  margin-bottom: 6px;
  display: block;
  color: #999999;
}
*/

div.content input.input-wid100, div.content textarea.input-wid100{
  margin-bottom: 24px;
  width: 100%;
}
div.content div.input-group{
  max-width: 1000px;
}
  div.content div.input-group.wid-100px{
    margin-bottom: 96px;
    width: 126px;
  }
    div.content div.input-group.wid-100px input{
      border-radius: 5px;
    }
    div.content div.input-group.wid-100px span{
      padding-left: 6px;
      line-height: 38px;
      font-size: 18px;
    }


div.content div.flex-post-book{
  margin-top: 96px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
  div.content div.flex-post-book div.custom-file.file-img{
    width: 40%;
  }
    .custom-file-label::after{
      content: "参照";
    }
  div.content div.flex-post-book div.card-40 div.custom-file{
    width: 450px;
  }

  div.content div.image-preview{
  margin-bottom: 48px;
  width: 300px;
  height: 400px;
  /*border: 2px solid #cccccc; */
}

div.content div.button-area{
  text-align: right;
}
  div.content div.button-area a.link-button{
    width: 152px;
    font-size: 18px;
    background-color: #3e8acc;
    border-color: #3e8acc;
    transition: all 0.2s ease 0s;
    border-radius: 7px;
  }
    div.content div.button-area a.link-button:hover{
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
      transform: translateY(-0.1875em);
    }








/* jqueryui combox設定 */
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
  width: 300px;
}

#post-book-form {
  margin-left: auto;
}

#post-book-search-btn {
  /* margin-left: auto; */
}