<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">

<!-- <head>用のフラグメントを読み込む -->
<head th:replace="common/head :: head_fragment(links = ~{::link}, scripts = ~{::script})">
  <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
  <script type="text/javascript"></script>
</head>

<body>

  <!-- header用のフラグメントを読み込む -->
  <div th:replace="common/header :: header_fragment"></div>


  <div class="content">
    <div class="h2-box">
      <h2>Myページ</h2>
    </div>


    <div class="cp_wrap">
      <div class="cp_actab">
        <input id="tab-one" class="tab-input" type="checkbox" name="tabs">
        <label for="tab-one" class="blue-label">ユーザー情報</label>

        <!-- アカウントImage -->
        <div class="cp_actab-content0">
          <div class="sub-title0">
          <h4>アカウント</h4>
          <div class="">
            <figure class="account-figure">
              <img src="images/book01.jpg" alt="Photo-Image">
            </figure>
          </div>

          <!-- アカウント情報 -->
          <form id="user_form">
            <div class="form-group label-position">
              <label for="exampleInputEmail1" class="form-label">Full-name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="P-BOOKs" readonly>
            </div>
            <div class="form-group label-position">
              <label for="exampleInputPassword1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="p-books@pmail.com" readonly>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="cp_actab point-area">
      <input id="tab-two" class="tab-input" type="checkbox" name="tabs">
      <label for="tab-two" class="blue-label">保有ポイント</label>

      <div class="point-area-flex cp_actab-content">
        <div class="">
          <div class="sub-title">
            <h4>現在のポイント</h4>
              <p>3000P</p>
            <div id="charge-btn1">
              <a href="point.html">
                <span>チャージする</span>
              </a>
            </div>
          </div>
        </div>

        <div class="">
          <div class="sub-title">
            <h4>チャージ履歴</h4>
            <div class="charge-area">
                <ul>
                    <li>2020/09/09</li>
                    <li>500P</li>
                </ul>
                <ul>
                    <li>2020/09/10</li>
                    <li>500P</li>
                </ul>
                <ul>
                    <li>2020/09/11</li>
                    <li>500P</li>
                </ul>
            </div>
            <div id="charge-btn2">
              <a href="#">
                <span>履歴を表示</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="many-actab3">
      <a th:href="@{/postBook/}" for="menu2_0" class="blue-sublabel1">投稿書籍管理<span>
        <i class="fas fa-arrow-right"></i>
      </span></a>
      <input type="checkbox" id="menu2_1" class="toggle" />
    </div>

    <ul class="many-actab3">
      <a th:href="@{/genre/}" for="menu2_0" class="blue-sublabel1">新規ジャンル追加<span>
        <i class="fas fa-arrow-right"></i>
      </span></a>
      <input type="checkbox" id="menu2_1" class="toggle" />

      <a href="admin_book_request_check.html" for="menu2_1" class="blue-sublabel1">投稿依頼一覧ページへ<span>
        <i class="fas fa-arrow-right"></i>
      </span></a>
      <input type="checkbox" id="menu2_1" class="toggle" />
    </ul>

  </div>
  <!-- cp-wrap -->

  </div>

</body>

</html>