<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">

<!-- <head>用のフラグメントを読み込む -->
<head th:replace="common/head :: head_fragment(links = ~{::link}, scripts = ~{::script})">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
  <script type="text/javascript"></script>
</head>

<body>

  <!-- header用のフラグメントを読み込む -->
  <div th:replace="common/header :: header_fragment"></div>




  <div class="content">

    <h1>ログイン</h1>

    <form th:action="@{/sign_in}" method="post">
      <div><!-- Username -->
        <label class="sr-only" for="inlineFormInputGroup">Email</label>
        <div class="input-group a">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-user"></i></div>
          </div>
          <input name="mail" type="text" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="Email">
        </div>
      </div>

      <div><!-- Password -->
        <label class="sr-only" for="inlineFormInputGroup">Password</label>
        <div class="input-group a">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-lock"></i></div>
          </div>
          <input name="password" type="password" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="Password">
        </div>
      </div>

      <input type="submit" class="btn logi" value="ログイン">

      <br>

      <a class="btn regi" href="/signup/">新規会員登録</a>
    </form>

  </div><!-- .content -->




</body>

</html>